.products-title {
  margin-bottom: $sectionTitleAllPageMb;

  &__title {
    margin-bottom: 48px;
  }

}

@media (max-width: $bp4) {
  .products-title {
    margin-bottom: 80px;
  
    &__title {
      margin-bottom: 40px;
    }
  
  }
}