.products-descr {
  margin-bottom: $sectionTitleAllPageMb;

  &__breadcrumbs {}

  &__title {
    margin-bottom: 48px;
  }

  &__text-block {
    margin-bottom: 48px;
  }

  &__video-block {
    margin-top: $sectionTitleAllPageMb;
  }
}

@media (max-width: $bp5) {
  .products-descr {
    margin-bottom: 80px;
  }
}