.arrow-icon {
  $size: 40px;
  @include flex;

  width: $size;
  height: $size;
  border-radius: 50%;
  background: $colorWhite;
  transition: background .3s;

  & path {
    transition: fill .3s;
  }

  &_green {
    background: $colorGreen;
    &:hover {
      background: $colorWhite;
      & path {
        fill: $colorGreen;
      }
    }
  }

  &_big {
    $size: 56px;
    $iconSize: 21.5px;

    width: $size;
    height: $size;
    border: 1px solid $mainColor;
 
    & svg {
      width: $iconSize;
      height: $iconSize;
      transform: rotate(-45deg);
    }

    & path {
      fill: $mainColor;
    }

    &-green {
      border-color: $colorGreen;
      background: transparent;
      & path {
        fill: $colorGreen;
      }
    }
  }
}