.text-btn {
  @include flex;
  gap: 16px;
  text-transform: uppercase;
  color: $colorGreen;
  background: $colorWhite;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 8px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 700;

  transition: background .3s, color .3s;

  &_hero {
    $bgColor: $colorGreen;
    $frColor: $colorWhite;

    &:hover {
      background: $bgColor;
      color: $frColor;
      & .arrow-icon {
        background: $frColor;
        & path {
          fill: $bgColor;
        }
      }
    }
  }

  &_green {
    $bgColor: $colorGreen;
    $frColor: $colorWhite;

    background: $bgColor;
    color: $frColor;
    border-color: $bgColor;

    &:hover {
      $bgColor: $colorWhite;
      $frColor: $colorGreen;

      background: $bgColor;
      color: $frColor;
      & .arrow-icon {
        background: $frColor;
        & path {
          fill: $bgColor;
        }
      }
    }
  }
}