.youtube-video-block {
  iframe {
    width: 100%;
    height: 630px;
  }

  &_smaller {
    iframe {
      height: 414px;
    }
  }
}

@media (max-width: $bp5) {
  .youtube-video-block {
    &_smaller {
      iframe {
        height: 667px;
      }
    }
  }
}