.header {
  color: $headerColor;
  font-size: $headerFontSize;
  background: $headerBgColor;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  transition: height 0.5s;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  a {
    color: $headerColor;
  }

  &__block {
    @include flex(space-between, flex-start);
  }
  &__toggle-menu {
    display: none;
  }
  &__menu-block {
    width: 100%;
    &_open {
      display: flex;
    }
  }
  &__part {
    @include flex;
    padding: 16px 0;
    &_top {
      justify-content: space-between;
      border-bottom: 1px solid $headerColor;
    }
    &_bottom {
      padding: 0;
    }
  }

  &_open {
    height: 100vh;
  }

  &_desktop-open {
    height: $deskTopOpenHeaderHeight;
  }
}

@import "./logo";
@import "./header-links";
@import "./social-search-lang";
@import "./menu";

@media (max-width: $bp1) {
  .header {
    padding: 32px 0;

    &__toggle-menu {
      display: block;
    }
    &__menu-block {
      $headerHeight: 120px;
      display: none;

      position: absolute;
      left: 0;
      top: $headerHeight;
      z-index: 10;
      flex-direction: column;
      padding: 32px;
      width: 100%;
      height: calc(100vh - $headerHeight);
      &_open {
        display: flex;
      }
    }
  }
}

@media (max-width: $bp5) {
  .header {
    &__part {
      &_top {
        flex-direction: column;
        gap: 32px;
      }

      .header-links {
        order: 1
      }
    }
  }
}