.menu {
  &__list {
    @include flex;
    gap: 21px;
  }
}

.menu-item {
  &__header {
    @include flex(flex-start, center);
    white-space: nowrap;
  }
  &__link {}
  &__open-btn {
    $size: 24px;
    @include flex;

    width: $size;
    height: $size;
    
  }
  &__content {}
}

@media (max-width: $bp1) {
  .menu {
    &__list {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .menu-item {
    justify-content: flex-start;
  }
}