*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: $mainColor;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: $containerWidth;
  padding: 0 15px;
  margin: 0 auto;

  &_fullheight {
    height: 100%;
  }
  &_halfwidth {
    max-width: calc(#{$containerWidth} / 2 + 12px);
    padding-left: 0;
    margin: 0;
  }
}
     
.section-title {
  font-size: 80px;
  line-height: 1;
  span {
    color: $colorGreen;
  }

  &_all-page {
    margin-bottom: $sectionTitleAllPageMb;
  }
}

@media (max-width: $bp2) {
  .section-title {
    font-size: 8vw;
  }
}

@media (max-width: $bp3) {
  .container {
    max-width: $containerWidth;
    padding: 0 15px;
    margin: 0 auto;
  
    &_halfwidth {
      max-width: $containerWidth;
      padding: 0 15px;
      margin: 0 auto;
    }
  }
}

@media (max-width: $bp5) {
  .section-title {
    font-size: 48px;
  
    &_all-page {
      margin-bottom: $mobSectionTitleAllPageMb;
    }
  }
}