$font-path: './../fonts/';
$mainColor: #212925;

$sectionTitleSize: 80px;
$sectionMargin: 200px;
$mobileSectionMargin: 128px;
$mobileSectionFZ: 48px;

$containerWidth: 1140px;

// header
$headerBgColor: rgba(33, 41, 37, 0.5);
$headerColor: white;
$headerFontSize: 14px;
$headerHeight: 113px;

// all page exlude main
$bodyPaddingTop: $headerHeight;
$mainFirstBlockPT: 104px;
$mobMainFirstBlockPT: 80px;
$sectionTitleAllPageMb: 104px;
$mobSectionTitleAllPageMb: 48px;

// UI
$colorGreen: #01723B;
$colorWhite: white;
$colorRed: #D02121;
$colorLime: #80C348;
$colorBrown: #5E1A0F;

// breakpoints
$bp1: 1140px;
$bp2: 980px;
$bp3: 860px;
$bp4: 760px;
$bp5: 590px;
$bp6: 480px;