$font-path: './../fonts/';

$mainColor: #212925;

// header
$headerBgColor: rgba(33, 41, 37, 0.5);
$headerColor: white;
$headerFontSize: 14px;


// UI
$colorGreen: #01723B;
$colorWhite: white;
$colorRed: #D02121;
$colorLime: #80C348;
$colorBrown: #5E1A0F;