.about-us {
  padding: 146px 0;
  color: white;
  background-image:
    linear-gradient(90deg, rgba(33, 41, 37, 0.33) 0%, rgba(33, 41, 37, 0.33) 100%),
    url(./../img/footer-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a {
    color: white;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 80px;
    line-height: 80px;
  }
  &__subtitle {
    font-size: 16px;
  }
  &__content {
    @include flex(space-between, flex-end);
  }
  &__contact-form {}
  &__contacts {
    @include flex(flex-start, flex-end, column);
    gap: 32px;
  }
}

@media (max-width: $bp2) {
  .about-us {
    &__title {
      $fz: 8vw;
      font-size: $fz;
      line-height: $fz;
    }
  }
}

@media (max-width: $bp3) {
  .about-us {
    padding: 128px 0;
  }
}

@media (max-width: $bp6) {
  .about-us {
    padding-bottom: 48px;
    &__title {
      $fz: 48px;
      font-size: $fz;
      line-height: 57.6px;
    }
    &__subtitle {
      margin-bottom: 64px;
    }
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__contact-form {
      margin-bottom: $mobileSectionMargin;
    }
    &__contacts {
      align-items: center;
      font-size: 24px;
    }

    .social {
      &__item {
        $size: 48px;
        @include flex();
        border-radius: 50%;
        border: 1px solid white;
        width: $size;
        height: $size;

        img {

        }
      }
    }
  }
}