.vacancies {
  $sLeft: 35%;
  $sRight: 65%;
  $blockHeight: 420px;

  &__header {
    @include flex(space-between);
    margin-bottom: 78px;
    gap: 120px;
  }
  &__side {
    &_left {
      padding-right: 40px;
      width: $sLeft;
    }
    &_right {
      width: $sRight;
    }
  }
  &__title {
    margin-bottom: 0;
  }

  &__main {
    position: relative;
  }
  &__main-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw;
    height: $blockHeight;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__main-content {
    @include flex(space-between);
    gap: 120px;
  }

  &__info-block {
    @include flex(flex-end, flex-start, column);
  
    height: $blockHeight;
  }
  &__info {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 48px;
  }
  &__resource {
    @include flex(flex-start);
    gap: 24px; 
    margin-bottom: 48px;
  }
  &__personal-data {
    color: $colorGrey;
  }

}

@media (max-width: $bp1){
  .vacancies {
    &__side {
      &_left {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: $bp4) {
  .vacancies {
    &__header {
      flex-direction: column;
      margin-bottom: 48px;
      gap: 48px;
    }

    &__main {
      position: relative;
    }
    &__main-thumbnail {
      padding: 0 15px;
      position: static;
      width: 100%;
      height: 350px;
      margin-bottom: 80px;
    }

    &__main-content {
      flex-direction: column;
      gap: 0;
    }

    &__info-block {
      height: initial;
    }
  }
}

@media (max-width: $bp5) {
  .vacancies {
    &__side {
      &_left {
        width: 100%;
      }
      &_right {
        width: 100%;
      }
    }
  }
}

@media (max-width: $bp6) {
  .vacancies {
    &__resource {
      width: 100%;
      align-items: stretch;
      flex-direction: column;
    }
  }
}