.news-mobile {
  margin-top: $mobileSectionMargin;

  &__header {
    @include flex(space-between);
    margin-bottom: 77px;
  }
  &__content {
    @include flex(flex-start, center, column);
    gap: 24px;
    margin-bottom: 48px;
  }
  &__allnews {
    @include flex;
  }
}

.news-slide {
  @include flex(space-between, stretch, column);
  $sildeW: 351px;
  $sildeH: 351px;

  width: $sildeW;
  height: $sildeH;
  position: relative;
  padding: 32px;
  color: white;

  &:hover {
    .arrow-icon_big-white {
      background: $colorWhite;
      & path {
        fill: $mainColor;
      }
    }
  }

  &__header {
    @include flex(flex-end);
  }

  &__content {
  }
  &__title {
    font-size: 24px;
  }
  &__text {
    margin-top: 32px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(33, 41, 37, 0.33);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
