.news {
  margin-top: $sectionMargin;
  &__header {
    @include flex(space-between);
    margin-bottom: 77px;
  }
}

.news-slide {
  @include flex(space-between, stretch, column);
  width: 100%;
  height: 100%;
  position: relative;
  padding: 32px;
  color: white;

  &:hover {
    .arrow-icon_big-white {
      background: $colorWhite;
      & path {
        fill: $mainColor;
      }
    }
  }

  &__header {
    @include flex(flex-end);
  }

  &__content {}
  &__title {
    font-size: 24px;
  }
  &__text {
    margin-top: 32px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(33, 41, 37, 0.33);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@import "./swiper-news";

@media (max-width: $bp3) {
  .news {
    margin-top: $mobileSectionMargin;
  }
}

@media (max-width: $bp6) {
  .news {
    &__title {
      font-size: $mobileSectionFZ;
      line-height: $mobileSectionFZ;
    }
  }
}