.hero {
  position: relative;
}
.hero-slide {
  width: 100%;
  height: 100%;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
  }
  &__content {
    @include flex(center, flex-start, column);
    height: 100%;
    color: white;
  }
  &__title {
    font-size: 128px;
    line-height: 128px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  &__subtitle {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 44px;
  }
}

@import "./swiper-hero";

@media (max-width: $bp2) {
  .hero-slide {
    &__title {
      $fz: 13vw;

      font-size: $fz;
      line-height: $fz;
    }
  }
}

@media (max-width: $bp5) {
  .hero-slide {
    &__subtitle {
      $fz: 4.5vw;
      font-size: $fz;
      line-height: $fz;
    }
  }
}

@media (max-width: $bp6) {
  .hero-slide {
    &__title {
      $fz: 48px;

      font-size: $fz;
      line-height: $fz;
    }
    &__subtitle {
      $fz: 24px;

      font-size: $fz;
      line-height: $fz;
    }
    &__content {
      position: relative;
    }

    .text-btn {
      position: absolute;
      bottom: 32px;
      align-self: center;
    }
  }
}