.hero {
  position: relative;
}
.hero-slide {
  width: 100%;
  height: 100%;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
  }
  &__content {
    @include flex(center, flex-start, column);
    height: 100%;
    color: white;
  }
  &__title {
    font-size: 128px;
    line-height: 128px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  &__subtitle {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 44px;
  }
}

@import "./swiper-hero";