.our-vision {
  margin-bottom: $sectionMargin;

  &__main-info {
    @include flex(flex-start, flex-start);
    gap: $sectionGap;
    margin-bottom: $sectionMargin;
  }
  &__main-content {
    width: 50%;
  }
  &__title {}
  &__subtitle {
  }
  &__text-block {}
  &__text {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__thumbnail {
    width: 50%;
    img {
      @include imgResp(362px);
    }
    &-mobile {
      display: none;
      img {
        @include imgResp(362px);
      }
    }
  }

  &__video-block {
    margin-bottom: 48px;
  }

  &__additional-info {
    max-width: 740px;
    margin: 0 auto;
  }
}

@media (max-width: $bp4) {
  .our-vision {
    margin-bottom: $mobileSectionMargin;
    &__main-info {
      margin-bottom: $mobileSectionMargin;
      gap: $mobileSectionGap;
    }
    &__main-content {
      width: 70%;
    }
    &__thumbnail {
      width: 30%;
    }
  }
}

@media (max-width: $bp5) {
  .our-vision {
    &__main-info {
      display: block;
    }
    &__main-content {
      width: 100%;
    }
    &__thumbnail {
      display: none;
      &-mobile {
        display: block;
        max-width: 200px;
        margin: 48px auto;
        transform: translateX(-20px);
        img {
          @include imgResp(200px);
        }
      }
    }
  }
}